// Colors
$graphite: #151515;
$graphite-dark: #000000;
$graphite-light1: #333333;
$graphite-light2: #444444;
$graphite-light3: #555555;
$graphite-light4: #666666;

$red-primary: #C3002F;
$red-dark: #A60028;
$red-light1: #D2103E;
$red-light2: #E21F4E;
$red-light3: #F3416C;
$red-light4:#FF6F91;
$red-light5:#FCDCE4;

$craft-secondary:#EEE6DB;
$craft-dark:#D3CBC1;
$craft-light1:#EFEAE1;
$craft-light2:#F1EEE8;
$craft-light3:#F4F3EE;
$craft-light4:#F6F7F5;

$blue-light-secondary: #DCEBEC;
$blue-light-dark: #C5D2D3;
$blue-light1: #E3EFEF;
$blue-light2: #EAF3F3;
$blue-light3: #F1F7F7;
$blue-light4: #F8FBFB;

$sand-secondary: #F0D9C5;
$sand-light-dark: #DAC5B3;
$sand-light-1: #F0DFCF;
$sand-light-2: #F2E5D8;
$sand-light-3: #F3EBE2;
$sand-light-4: #F5F1EB;

$grey1: #7F7F7F;
$grey2: #9A9A9A;
$grey3: #B9B9B9;
$grey4: #D2D2D2;
$grey5: #EDEDED;
$grey6: #F7F7F7;

$system-danger: $red-primary;
$system-danger-background: $red-light5;
$system-info: #2DDDFA;
$system-info-background: #D4F9FF;
$system-warning: #FFDA51;
$system-warning-background: #FFF7D9;
$system-success: #15E98E;
$system-success-background: #DAF4E9;